.header__language {
	align-self: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 18px;
}

@media screen and (max-width: 767px) {
	.header__language {
		align-self: center;
	}
}